$primary: (
    lighter: hsl(237, 29%, 75%),
    light: hsl(237, 29%, 60%),
    regular: hsl(237, 29%, 43%),
    dark: hsl(237, 29%, 30%),
    darker: hsl(237, 29%, 25%)
);

$accent: (
    lighter: hsl(34, 100%, 75%),
    light: hsl(34, 100%, 60%),
    regular: hsl(34, 100%, 50%),
    dark: hsl(34, 100%, 30%),
    darker: hsl(34, 100%, 20%)
);

$neutral: (
    100: hsl(0, 0%, 0%),
    200: hsl(0, 0%, 25%),
    300: hsl(0, 0%, 50%),
    400: hsl(0, 0%, 75%),
    500: hsl(0, 0%, 100%)
);

$status: (
    success: hsl(120, 100%, 25%),
    danger: hsl(0, 100%, 50%),
)
