@use "../../../abstracts/" as *;

.form-input-horizontal {
  $self: &;
  @include flex-center(column);
  font-size: 1rem;
  gap: 0.4rem;
  padding: 0.1rem;
  // border: 2px solid red;
  width: 100%;

  &__inner-wrapper {
    @include flex-center(row-reverse);
    width: 100%;
    gap: 0rem;
    // border: 2px solid rebeccapurple;
  }

  &__input-field {
    border-radius: 200rem;
    border-width: 0.1rem;
    border-style: solid;
    font-size: 1em;
    min-width: 1rem;
    width: 100%;
    color: lighten(neutral-clr(100), 10%);

    padding: 0.8em 0.5em;
  }

  &__label {
    color: lighten(neutral-clr(100), 10%);
  }

  &__err {
    color: #ff0000;
    font-size: 0.8em;
    opacity: 0;
    letter-spacing: 0.05rem;
    transition: opacity 500ms ease-in-out;
  }

  // Modifiers

  &--focus-primary {
    #{$self}__input-field:focus {
      color: primary-clr(dark);
      border-color: primary-clr(regular);
      border-width: 0.3rem;

      ~ #{$self}__label {
        color: primary-clr(regular);
        font-weight: bold;
      }
    }
  }

  &--focus-err {
    #{$self}__input-field:focus {
      color: status-clr(danger);
      border-color: status-clr(danger);
      border-width: 0.3rem;

      ~ #{$self}__label {
        color: status-clr(danger);
        font-weight: bold;
      }
    }
  }

  &--required {
    #{$self}__label::after {
      content: "*";
      color: #ff0000;
      padding-left: 0.2rem;
    }
  }
}
