<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link defer rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link defer rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    {% block css %}{% endblock css %}
    {% block fonts %}{% endblock fonts %}
</head>

<body>
    {% block content %}<h1>Base</h1>{% endblock content %}
</body>

<script defer src="{{url_for('static', filename='js/core.js')}}"></script>
{% block scripts %}{% endblock scripts %}
{% block additional_scripts %} {% endblock additional_scripts %}

</html>